.squareForTiles{
    margin-left: 380px;
}
.squareForTiles2{
    float: left;
    margin-left: 380px;
}
.containerForTileSqares{
    float: left;
    margin-top: 50px;
}
.tile{
    float: left;
    margin: 20px;
    width: 174px;
    height: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: var(--textColor);
    background-color: var(--buttonBackgroundColor)
}
.assignmentButton{
    background: var(--logoColor);
    color: var(--buttonBackgroundColor);
    border: none;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 17%;
    padding: 6%;
    align-items: center;
    float: bottom;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 60%;
    line-height: 100%;
    display: flex;
}

.returnToMainSiteButtonContainer{
    float: right;
    margin-top: 3%;
    margin-right: 5%;
}

.goToMainSite{;
    border-radius: 60px;
    background: var(--menuBackgroundColor);
    color: var(--buttonBackgroundColor);
    padding: 20px;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
}

.bankBalanceContainer{
    float: left;
    margin-left: 19%;
    background-color: var(--buttonBackgroundColor);
    width: 900px;
    height: 120px;
}

.bankBalance{
    padding: 30px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: var(--textColor);
}

