.squareForTiles{
    margin-left: 380px;
}
.squareForTiles2{
    float: left;
    margin-left: 380px;
}
.containerForTileSqares{
    width: calc(100% - 30%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    margin-left: 17%;
    margin-top: 3%;

}
.tile{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    border-radius: 1em;
    background: var(--menuBackgroundColor);
}
.returnToMainSiteButtonContainer{
    float: right;
    margin-top: 1.8%;
    margin-right: 5%;
}
.goToMainSite{;
    border-radius: 60px;
    background: var(--menuBackgroundColor);
    color: var(--buttonBackgroundColor);
    padding: 20px;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
}

