:root {
    --siteBackgroundColor: #1D3557;
    --menuBackgroundColor: #457B9D;
    --innerMenuBackgroundColor: #A8DADC;
    --buttonBackgroundColor: #F1FAEE;
    --logoutButtonColor: #cb3232;
    --textColor: black;
    --logoColor: #F2994A;
}