body{
    background-color: var(--siteBackgroundColor);
    color: var(--textColor);
    /*width: 100vw;*/
    /*height: 100vw;*/
}
.logo h1{
    color: var(--logoColor);
    float: top;
    text-align: center;
    font-size: 36px;
    /*display: inline-block;*/
    /*margin-left: 350px;*/
    /*margin-top: -50px;*/
}
.bottomLogo{
    margin-left: 25%;
}
.menu{
    background-color: var(--menuBackgroundColor);
    display: inline-block;
    float: left;
    width: 13%;
    height: 45%;
    text-align: center;
    border-radius: 10px;
}
.loggedAs{
    background-color: var(--innerMenuBackgroundColor);
    margin-top: 7%;
    border-radius: 7%;
    color: var(--loggedAsTextColor);
    display: inline-block;
    text-align: center;
    width: 87%;
    height: 15%;
    font-size: 15px;
}
.searchBar{
    background-color: var(--menuBackgroundColor);
    margin-left: 31.5%;
    text-align: left;
    width: 30%;
    height: 4%;
}
.innerSearchBar{
    background-color: var(--innerMenuBackgroundColor);
    width: 80%;
    height: 50%;
    border-radius: 8px;
    margin: 3%;
    display: inline-block;
    padding: 1%;
}
.menuBackground{
    background-color: var(--menuBackgroundColor);
    margin-left: 31.5%;
    margin-top: 1%;
    text-align: left;
    width: 50%;
    height: 35%;
    border-radius: 40px;
}
.innerContent{
    background-color: var(--innerMenuBackgroundColor);
    border-radius: 10px;
    width: 40%;
    height: 7%;
    text-align: left;
    margin: 4%;
    padding: 1%;
}
.bottomButton{
    background-color: var(--menuBackgroundColor);
    margin-left: 64.5%;
    margin-top: 1%;
    text-align: center;
    width: 17%;
    height: 5%;
}
.innerBottomButton {
    background-color: var(--innerMenuBackgroundColor);
    width: 85%;
    height: 80%;
    border-radius: 10px;
    margin: 3%;
    display: inline-block;
}
#wrapper {
    text-align: center;
}
#logForms {
    background-color: var(--menuBackgroundColor);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: inline-block;
}
.button{
    background-color: var(--buttonBackgroundColor);
    border: none;
    color: var(--textColor);
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6%;
    cursor: pointer;
    border-radius: 50px;
    width: 85%;
}
.buttonLogout{
    background-color: var(--logoutButtonColor);
    border: none;
    color: var(--textColor);
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 80%;
    margin-top: 40%;
    margin-bottom: 5%;
}
.imagesRow{
    text-align: center;
}