body{
    background-color: var(--siteBackgroundColor);
    color: var(--textColor);
}
.logo{
    color: var(--logoColor);
    text-align: center;
    font-size: 36px;
    display: inline-block;
    margin-left: 350px;
    margin-top: -50px;
}
.menu{
    background-color: var(--menuBackgroundColor);
    display: inline-block;
    float: left;
    width: 230px;
    height: 950px;
    text-align: center;
    border-radius: 10px;
}
.loggedAs{
    background-color: var(--innerMenuBackgroundColor);
    margin-top: 15px;
    border-radius: 20px;
    color: #293AD3;
    display: inline-block;
    text-align: center;
    width: 220px;
    height: 130px;
    font-size: 15px;
}
.searchBar{
    background-color: var(--menuBackgroundColor);
    margin-left: 600px;
    text-align: left;
    width: 611px;
    height: 84px;
}
.innerSearchBar{
    background-color: var(--menuBackgroundColor);
    width: 450px;
    border-radius: 8px;
    margin-left: 20px;
}
.menuBackground{
    background-color: var(--menuBackgroundColor);
    margin-left: 600px;
    margin-top: 20px;
    text-align: left;
    width: 957px;
    height: 502px;
    border-radius: 40px;
}
.innerContent{
    background-color: var(--innerMenuBackgroundColor);
    border-radius: 10px;
    width: 300px;
    height: 35px;
}
.bottomButton{
    background-color: var(--menuBackgroundColor);
    margin-left: 1235px;
    margin-top: 10px;
    text-align: center;
    width: 322px;
    height: 90px;
}
.innerBottomButton {
    background-color: var(--innerMenuBackgroundColor);
    width: 280px;
    border-radius: 10px;
    margin-left: 20px;
}
#logForms{
    background-color: var(--menuBackgroundColor);
    width: 300px;
    height: 230px;
    border-radius: 20px;
    margin-left: 750px;
}
p{
    margin-left: 30px;
    padding-top: 10px;
}
.creepImage {
    border-radius: 50%;
}
.button{
    background-color: var(--buttonBackgroundColor);
    border: none;
    color: var(--textColor);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    height: 70px;
}
.buttonLogout{
    background-color: var(--logoutButtonColor);
    border: none;
    color: var(--textColor);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    height: 70px;
}
.firstRow{
    text-align: center;
}
.secondRow {
    text-align: center;
}